
<section id="cover" class="cover active" data-zoom="4" data-longitude="1.37" data-latitude="48.02" data-events="layout:switch:singleview" >
    <span class="close">&#215;</span>
    <small class='scroll'>Scroll ▼</small>
    <h1>Tutorial</h1>
    <p>Welcome to the EarthServer lighthouse application.</p>
    <p>Through this tutorial you will be presented the tools and functionality of the client.</p>
    <p>By scrolling down possible user interactions will be triggered automatically.</p>
    <p>You can always close this banner and play around with the system to get acquanted to it.</p>
    <small class='scroll'>Scroll ▼</small>
</section>
<section data-events="ui:open:layercontrol">
    <span class="close">&#215;</span>
    <h2>Layer Selection</h2>
    <p>Let us first have a look at the available user interface elements (widgets). </p>
    <p>I opened up the <strong>Layer/Product Widget</strong>. You can open and close it at any time by clicking in the navigation bar on the Layers button with the symbol <i class="fa fa-fw fa-globe"></i>.</p>
    <p>The Layer/Product Widget allows activating and deactivating the configured products, which are then visualized in the different viewers.</p>
    <p>You can move the widget to another position by clicking and dragging on its header, give that a try.</p>
    <p>The Widget shows base layers (e.g. Terrain and Blue Marble), overlay layers (e.g. Streets) and product layers.</p>
    <p>It is possible to sort the layers by clicking and dragging on the two triangle symbol.</p>
    <p>Transparency can be set by slider that appears by clicking on the circle icon of the product.</p>
</section>
<section data-events="ui:open:toolselection">
    <span class="close">&#215;</span>
    <h2>Tools</h2>
    <p>On the right i now opened the <strong>Tools</strong> Widget. This widget has Tools for point selection and Layout separated in three groups</p>
    <p>The <strong>point selection</strong> tool is on the top.</p>
    <p>The <strong>Layout</strong> Tools are available at the bottom, these allow setting the client as split screen or back to the single screen view. </p>
    <p>We will go into more detail of each of these components. As with the Layer Widget you can open and close the Tool Widget by clicking on the Tools button with the icon <i class="fa fa-fw fa-wrench"></i>.</p>
</section>
<section data-layers="daily_FSC_PanEuropean_Optical" data-time="2013-01-30T00:00:00Z/2013-01-15T23:59:59Z">
    <span class="close">&#215;</span>
    <h2>Time Selection</h2>
    <p>Did you notice the <strong>time slider</strong> at the bottom of the page? We already selected Januar 1st to 15th 2013 for you.</p>
    <p>Try stretching the time interval at its ends or draw a new one and watch the satellite images adjusting. Only those acquired within the selected interval are displayed.</p>
    <p>With the Pan-European Fractional Snow Cover product, you can query an archive holding over 14 years of daily snow coverage data!</p>
    <p>By the way, try the scroll wheel to uncover additional functionality.</p>
</section>
<section data-events="layout:switch:splitview">
    <span class="close">&#215;</span>
    <h2>Split View</h2>
    <p>It is possible to activate Split View visualization in the Tools bar. By clicking and dragging on the division of both views it is possible to resize them. On the right we can see now a message to make sure a Point or Rivershed, Time and Product are selected. By creating a selection a WCPS request will be send to retrieve data. We will create the selection for you in the next step.</p>
</section>
<section data-selection="data/poi.geojson">
    <span class="close">&#215;</span>
    <h2>Point Selection</h2>
    <p>By clicking on the <strong>point selection</strong> you can click on the map to define the location of your point query. By clicking the "Ctrl" Key you can select multiple points.</p>
    <p>We selected a point for you for demonstration.</p>
</section>
<section data-selection="data/rivershed.geojson" data-layers="rivershed>
    <span class="close">&#215;</span>
    <h2>Rivershed Selection</h2>
    <p>By clicking on the rivershed overlay layer you can select the displayed riverhseds by clicking on them. By clicking the "Ctrl" Key you can select multiple riversheds.</p>
    <p>We selected a rivershed for you for demonstration.</p>
</section>
<section data-selection="data/rivershed.geojson">
    <span class="close">&#215;</span>
    <h2>Contour Level Selection</h2>
    <p>Did you see the <strong>contour level selection</strong> widget on the left side of the line plot? Here you can limit the snow statistics to certain contour levels, e.g. snow coverage above 2000 meters.</p>
</section>
<section>
    <span class="close">&#215;</span>
    <h2>Contour Level Selection</h2>
    <p>You have now learned the basic principles of the <a href="http://earthserver.eu" target="_new">EarthServer</a> CryoService such as selecting the product of your choice, a time of interes, choosing between point or rivershed statistics as well as limiting the statistics to certain contour levels.</p>
    <p>Feel free to close this tutorial and enjoy discovering spatio-temporal properties of snow coverage!.</p>
</section>

<div style="height: 25em;"><!-- FIXME --></div>
