<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
      <h3 class="panel-title" id="about-title"><i class="fa fa-fw fa-info-circle"></i> About</h3>
    </div>
    <div class="modal-body modal-body-about">
		
	  	<div class="row">
	      	<div class="col-md-8 col-xs-8">
				<p><a href="http://earthserver.eu" target="_new">EarthServer</a> is funded by the European Union under the 7<sup>th</sup> Framework Programme (Project number: 283610) and establishing open access and ad-hoc analytics on extreme-size Earth Science data, based on and extending leading-edge Array Database technology.</p>
	      	</div>
	      	<div class="col-md-4 col-xs-4">
	      		<div class="row">
			      	<div class="col-md-12 col-xs-12">
				      	<img src="/images/logo-earthserver+text_small.png" alt="EarthServer-Logo" class="img-responsive"/>
				    </div>
				</div>
				<div class="row">
			    	<div class="col-md-6 col-xs-6">
			    		<img src="/images/euflag.gif"  width="70px" alt="EU-Flag" class="img-responsive"/>
			    	</div>
			    	<div class="col-md-6 col-xs-6">
		      			<img src="/images/fp7logo.gif" width="70px" alt="FP7-Logo" class="img-responsive"/>
		      		</div>
	      		</div>
	  		</div>
	  	</div>
	  	<br><br><br>

	  	<div class="row">
			<div class="col-md-6 col-xs-6" style="text-align: right !important;">
				<p>Powered by:</p>
			</div>
			<div class="col-md-6 col-xs-6">
				<div class="row">
			    	<div class="col-md-6 col-xs-6">
			    		<a target="_blank" href="http://eoxserver.org/"><img class="img-responsive" src="/images/EOxServer_logo_transparent.png"  alt="eoxserver.org"></a>
			    	</div>
			    	<div class="col-md-6 col-xs-6">
		      			<a target="_blank" href="http://rasdaman.org/"><img class="img-responsive" src="/images/rasdaman_logo.png" alt="rasdaman.org"></a>
		      		</div>
		      	</div>
  			</div>
  		</div>

  		<br>

  		<div class="row">
			<div class="col-md-6 col-xs-6">
			</div>
			<div class="col-md-6 col-xs-6">
				<div class="row">
			    	<div class="col-md-6 col-xs-6">
			    		<p>EOX IT Services</p>
			    	</div>
			    	<div class="col-md-6 col-xs-6">
		      			<a target="_blank" href="http://www.eox.at/"><img class="img-responsive" src="/images/logo_eox.png" alt="EOX IT-Logo"></a></a>
		      		</div>
		      	</div>
  			</div>
  		</div>

	</div>
  </div>
</div>
